###########TURN THE BELOW OFF IN PRODUCTION############
#php_value xdebug.profiler_output_dir /tmp
#php_value xdebug.profiler_output_name cachegrind.out.%R.%p
#php_value xdebug.profiler_enable 1
#######################################################
ExpiresActive On
#ExpiresDefault A18000
ExpiresByType image/gif A864000
ExpiresByType image/jpeg A864000
ExpiresByType image/png A864000
BrowserMatch "MSIE" brokenvary=1
BrowserMatch "Mozilla/4.[0-9]{2}" brokenvary=1
BrowserMatch "Opera" !brokenvary
SetEnvIf brokenvary 1 force-no-vary
php_flag register_globals off
php_value magic_quotes_gpc 1
ErrorDocument 403 /403.html

FileETag MTime Size

RewriteEngine on
Options +FollowSymlinks

RewriteCond %{HTTP_USER_AGENT} ^(xindxr)
RewriteRule ^(.*)$ http://www.google.com/

#RewriteCond %{HTTP_HOST} !^www\.(.*)
#RewriteCond %{QUERY_STRING} !(wppt=1) [NC]
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

# Force checkout to use SSL
#RewriteCond %{SERVER_PORT} !^443
#RewriteCond %{REQUEST_URI} ^(/checkout)$ [NC]
#RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

# Run non-backend CSS and javascript files through the compressor
RewriteRule ^(.*/css/.*)$ index.php?controller=compressor&format=asset&type=css&files=$1 [NC]
RewriteRule ^(.*/js/.*)$ index.php?controller=compressor&format=asset&type=js&files=$1 [NC]

# Append format to XML requests
#RewriteRule ^(.*)\.xml$ index.php?format=xml&controller=$1 [NC,QSA]


# Redirect the emails and the nl_signups to the homepage
RewriteCond %{QUERY_STRING} ^(.*)(e=.*@.*)(.*)$ [NC,OR]
RewriteCond %{QUERY_STRING} ^(.*)(.*nl_signup=.*)(.*)$
RewriteRule .* http://workitmom.com/? [L,R=301]

# Append format to asset requests
# No thanks, just do that in the assets controller.
#RewriteRule ^(assets.*)$ $1?format=asset [NC]

# Append word-press passthru to comment posts
RewriteRule ^(.*)wp-comments-post\.php$	$1wp-comments-post?wppt=1 [L,QSA]

# Redirect Wordpress blogs.
RewriteRule ^blog/feed index.php?controller=bloggers&task=feed&format=xml [L]
RewriteRule ^blog/(.*)$	/bloggers/workitmom/$1 [R=301,L]

# Run all non-file-asset requests through site entry point
RewriteCond %{REQUEST_URI} !^/index\.php [NC]
RewriteCond %{REQUEST_URI} !^/(front|back)end/([A-Za-z_0-9]+)/(images|swf|languages/([a-z]{2})/buttons|plugins) [NC]
RewriteCond %{REQUEST_URI} !^/open(ads|x) [NC]
RewriteCond %{REQUEST_URI} !^/(.*)files(.*) [NC]
RewriteCond %{REQUEST_URI} !^/(.*)wp-admin(.*) [NC]
RewriteCond %{REQUEST_URI} !^/bloggers\/(.*)\/feed [NC]
RewriteCond %{REQUEST_URI} !^/(.*)xml\.gz [NC]
RewriteCond %{REQUEST_URI} !^/(.*)\.xml [NC]
RewriteCond %{QUERY_STRING} !(wppt=1) [NC]
RewriteCond $1 !^(ping\.php|robots\.txt|newserver\.php)
RewriteRule ^(.*)$ /index.php [L]

Redirect 301 /quicktips/detail/7025 http://workitmom.com/slideshows/detail/198335/top-10-educational-websites-for-kids/
Redirect 301 /quicktips/detail/1400/10-gift-ideas-for-working-moms http://workitmom.com/slideshows/detail/198467/10-gift-ideas-for-working-moms/
Redirect 301 /quicktips/detail/6085/work-from-home-and-flexible-jobs-where-to-find-them http://workitmom.com/slideshows/detail/198513/8-flexible-work-from-home-job-websites
