<script type="text/javascript">
  var LB_BTF_Params = { ybot_slot:"LB_BTF", ybot_size:"", ybot_cpm:"" };
  try {
    LB_BTF_Params = yieldbot.getSlotCriteria('LB_BTF');
  }
  catch(e) {/*ignore*/}
</script>

<!--/* OpenX Asynchronous JavaScript tag */-->
<div id="537228341_728x90BTF" style="width:728px;height:90px;margin:0;padding:0">
  <noscript> <iframe id="78f4885284" name="78f4885284" src="//junemedia-d.openx.net/w/1.0/afr?auid=537228341&cb=INSERT_RANDOM_NUMBER_HERE" frameborder="0" scrolling="no" width="728" height="90"> <a href="//junemedia-d.openx.net/w/1.0/rc?cs=78f4885284&cb=INSERT_RANDOM_NUMBER_HERE" > <img src="//junemedia-d.openx.net/w/1.0/ai?auid=537228341&cs=78f4885284&cb=INSERT_RANDOM_NUMBER_HERE" border="0" alt=""> </a> </iframe> </noscript>
</div>
<script type="text/javascript">
  var OX_ads = OX_ads || [];
  OX_ads.push({
    slot_id: "537228341_728x90BTF",
    auid: "537228341",
    vars: { "ybot_slot":LB_BTF_Params.ybot_slot, "ybot_size": LB_BTF_Params.ybot_size, "ybot_cpm": LB_BTF_Params.ybot_cpm }
  });
</script>

<script type="text/javascript" src="//junemedia-d.openx.net/w/1.0/jstag"></script>
<!-- end openx -->

