<!--/* OpenX Asynchronous JavaScript tag */-->
<script type="text/javascript">
  var LB_ATF_Params = { ybot_slot:"LB_ATF", ybot_size:"", ybot_cpm:"" };
  try {
    LB_ATF_Params = yieldbot.getSlotCriteria('LB_ATF');
  }
  catch(e) {/*ignore*/}
</script>

<div id="537228339_728x90ATF" style="width:728px;height:90px;margin:0;padding:0">
  <noscript>
    <iframe id="115be3ce94" name="115be3ce94" src="//junemedia-d.openx.net/w/1.0/afr?auid=537228339&cb=INSERT_RANDOM_NUMBER_HERE" frameborder="0" scrolling="no" width="728" height="90">
      <a href="//junemedia-d.openx.net/w/1.0/rc?cs=115be3ce94&cb=INSERT_RANDOM_NUMBER_HERE" >
        <img src="//junemedia-d.openx.net/w/1.0/ai?auid=537228339&cs=115be3ce94&cb=INSERT_RANDOM_NUMBER_HERE" border="0" alt="">
      </a>
    </iframe>
  </noscript>
</div>
<script type="text/javascript">
  var OX_ads = OX_ads || [];
  OX_ads.push({
    slot_id: "537228339_728x90ATF",
    auid: "537228339",
    vars: { "ybot_slot":LB_ATF_Params.ybot_slot, "ybot_size": LB_ATF_Params.ybot_size, "ybot_cpm": LB_ATF_Params.ybot_cpm }
  });
</script>

<script type="text/javascript" src="//junemedia-d.openx.net/w/1.0/jstag"></script>
<!-- end openx -->
