/*-------------------------------------------- Global layout */
* {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	background: transparent;
}

html {
	overflow-y: scroll;
}

body {
	font: 16px Arial, Helvetica, sans-serif;
	line-height: 1.25em; /* = 20px */
	color: #4e4e4e;
	background: #FFF;
	margin: 0 0 20px 0;
}

#site-wrapper {
	margin: 0 auto;
	text-align: left;
	width: 960px;
}

#content-wrapper {
	margin-top: 15px;
}

/*-------------------------------------------- Global styles */

h1 {
	font: bold 26px/26px Arial, Helvetica, sans-serif;
	color: #333;
	letter-spacing: -0.05em;
	text-transform: lowercase;
}

h2 {
	font: bold 17px/20px Arial, Helvetica, sans-serif;
	color: #2798bd;
	letter-spacing: 0.95px;
	text-transform: lowercase;
}

h3 {
	font: bold 0.875em/1.35em Arial, Helvetica, sans-serif;
	text-transform: lowercase;
}

/* Tables */
table {
	border-collapse: collapse;
	width: 100%;
	margin: 0 0 0.75em 0;
	border: 0;
}
table caption {
	text-align: left;
	padding: 3px 5px;
	border: 1px solid #dbdbdb;
	background: #dbdbdb;
	font-weight: bold;
	margin-left: -1px;
}
th, td {
	padding: 4px 5px;
	border-bottom: 1px solid #ccc;
}
th {
	background: #ddd;
	font-weight: normal;
}
thead th {
	background: #c5c5c5;
	font-weight: bold;
}
td {
	background: #fff;
}
tr.alt td {
	background: #f1f1f1;
}

Q {
	quotes: '"' '"'
}
cite {font-style: normal;}

/* Links */
a {
	color: #2798bd;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.arrow {
	background: url(../images/site/icon-arrow.png) no-repeat right center;
	padding-right: 10px;
}

/*a.user {
	background: url(../images/site/icon-user.png) no-repeat left center;
	padding-left: 12px;
}*/

.underline a {
}
.underline a:hover {
	color:#2798BD;
}

a.comments {}
a.comments:hover {color:#2798BD; text-decoration: none;}

/* Elements */
acronym {
	color: #215882;
	border-bottom: 1px dotted #215882;
	cursor: help;
}

img {
	font-size: 10px;
	/* intentionally fixed size */
}

small {
	font-size: 0.9em;
}

div.divider {
	border-top: 1px solid #ccc;
	margin: 20px 0;
	height: 1px;
	clear: both;
	line-height: 1px;
	font-size: 1px;
}

/* Other */
.fl {float: left;}
.fr {float: right;}
.center {text-align: center;}

.clear {
	display: block;
	clear: both;
	font-size: 1px;
	height: 1px;
	line-height: 1px;
	margin-bottom: -1px;
}

.clear2 {
	clear: both;
}

.red-ast {
	color: #CC0000;
	font-weight: bold;
}

.required {
	font-size: 0.75em;
	margin-top: 10px;
}

#submit_content .required {
	margin: 5px 0 0 0;
}

.highlight {
	background-color: #FFFFCC;
	padding: 0 2px;
}
.notify {
	padding: 10px 10px 10px 60px;
	background: #FFFFCC url(../images/site/icon_notify.png) no-repeat 15px 12px;
	font-size: 0.75em;
	font-weight: bold;
	border: 1px solid #FFCC33;
	margin-bottom: 15px;
}

.rss {
	background:url(../images/site/icon-rss.png) no-repeat left center;
	padding: 0 0 0 22px;
	font-size:0.75em;
	line-height: 1.5em;
	display: block;
	margin: 10px 0 0 0;
}
a.delete {
	background: url(../images/site/icon-delete.png) no-repeat left center;
	padding: 0 0 0 16px;
	font-size: 0.75em;
	font-weight: bold;
	line-height: 1.5em;
	color: #CC0000;
}

button, button:focus {
	border: 0;
	width: auto;
	overflow: visible;
}

.button, .button_dark, button, .button_bright {
	height: 23px;
	padding: 0;
	margin: 0;
	background: url(../images/site/btn-sliding_l.png) no-repeat left top;
	position: relative;
	cursor: pointer;
}

.button span, .button_dark span, button span, .button_bright span {
	cursor: pointer;
	display: block;
	font-size: 0.75em;
	line-height: 1.9166em;
	font-weight: bold;
	text-transform: lowercase;
	color: #666;
	padding-right: 9px;
	background: url(../images/site/btn-sliding_r.png) no-repeat right top;
	margin-left: 9px;
}

button span {
	margin: -1px -3px 1px 6px;
}

.button_dark, button {background: url(../images/site/btn-blue_l.png) no-repeat left top;}
.button_dark span, button span {background: url(../images/site/btn-blue_r.png) no-repeat right top; color: #FFF;}
.button_dark:hover, button:hover {background-position: left -23px;}
.button_dark:hover span, button:hover span {background-position: right -23px;}

.button_bright {background: url(../images/site/btn-blue_l.png) no-repeat left -23px;}
.button_bright span {background: url(../images/site/btn-blue_r.png) no-repeat right -23px; color: #FFF;}
.button_bright:hover {background-position: left top;}
.button_bright:hover span {background-position: right top;}


.button:hover, .button_dark:hover, .button_bright:hover {text-decoration: none;}
.button:hover span {color: #2798bd;}


.block .header .button_dark {
	float: right;
	margin-top: -35px;
}

.block .header .title, .block .header .title2 {
	padding: 5px 0 0 40px;
	height: 25px;
	margin: 0 0 7px 0;
}

.hide {display: none;}

.printonly {display: none;}

.text-content {
	font-size: 0.75em;
	line-height: 1.5em;
}

.text-content ul, .content ul, .item_list ul ul {
	list-style-image: url(../images/site/bullet.png);
	margin: 0;
	padding-left: 20px;
}

/* Pagination */
div.pagination {
	margin: 15px auto;
	font-size: 0.875em;
	line-height: 2em;
	height: 2em;
}
div.pagination ul {
	list-style: none;
	list-style-image: none;
	clear:both;
	padding: 0;
}
div.pagination li {
	display: block;
	float: left;
	margin: 0 5px 0 0;
	padding: 0;
}
div.pagination li a,
div.pagination li span.item {
	display: block;
	font-weight: bold;
	padding: 0px 10px;
	background: #f1f1f1;
}
div.pagination li span.item {
	color: #eee;
	background: #fafafa;	
}
div.pagination li a:hover,
div.pagination li span.current {
	text-decoration: none;
	background: #e4f5fb;
	color: #2798bd;
}

/* Waiter */
div.waiter {
	background: #fff url(../images/site/waiter.gif) no-repeat 50% 50%;
	z-index: 999999;
}

/* Tags */
.tags {
	background: #f1f1f1;
	padding: 5px 8px;
}

/*-------------------------------------------- Common panels */
.panel-left {
	width: 630px;
	float: left;
	margin-right: 30px;
	overflow: hidden;
}
.panel-right {
	width: 300px;
	float: right;
	overflow: hidden;
	/*margin-top: -20px;*/
}

.panel-right .block {
	margin-bottom: 15px;
}

.panel-left .panel-video{
	clear: both;
    height: 392px;
    margin: 0 auto 18px;
    width: auto;
}
.panel-left .panel-video .video_content
{
	margin: 0 auto;
    width: 572px;
}

.panel-left .panel-video .header{
	height: 25px;
    margin-bottom: 15px;
}

.panel-left .panel-video .header .title{
}

.panel-left .panel-video img{
	clear: both;
    float: left;
}

.panel-left .panel-video .header .title h2{
	float: left;
    height: 25px;
    margin-left: 10px;
    margin-top: 6px;
    width: 200px;
}
	
.panel-left .panel-video a{
	float: right;
    margin-top: 6px;
}

.panel-left .col-l {
	float: left;
	width: 300px;
	margin-right: 20px;
}

.panel-left .col-r {
	float: right;
	width: 300px;
}

.top, .bot {height: 6px; font-size: 1px; line-height: 6px;}

.rounded-630-blue .content,
.rounded-630-orange .content,
.rounded-630-border .content,
.rounded-630-grey .content,
.rounded-300-orange .content,
.rounded-300-grey .content,
.rounded-300-blue .content,
.rounded-630-pink .content,
.rounded-300-yellow .content,
.rounded-630-outline .content
{
	padding: 9px 15px;
}

.rounded-630-blue {background-color: #e4f5fb;}
.rounded-630-blue .top, .rounded-630-blue .bot {background-image: url(../images/site/630-blue.png);}

.rounded-630-pink {background-color: #fef0f7;}
.rounded-630-pink .top, .rounded-630-pink .bot {background-image: url(../images/site/630-pink.png);}

.rounded-630-orange {background-color: #fff1d7;}
.rounded-630-orange .top, .rounded-630-orange .bot {background-image: url(../images/site/630-orange.png);}

.rounded-630-outline {background: url(../images/site/630-outline_bg.png) repeat-y;}
.rounded-630-outline .top, .rounded-630-outline .bot {background-image: url(../images/site/630-outline.png);}

.rounded-630-grey {background-color: #f1f1f1;}
.rounded-630-grey .top, .rounded-630-grey .bot {background-image: url(../images/site/630-grey.png);}
.rounded-630-grey textarea {width: 586px;}

.rounded-630-landing {background-color: #f3f3d6;}
.rounded-630-landing .top,
.rounded-630-landing .bot {background-image: url(../images/site/630-landing.png);}

.rounded-300-orange {background-color: #fff1d7;}
.rounded-300-orange .top, .rounded-300-orange .bot {background-image: url(../images/site/300-orange.png);}
.rounded-300-orange img {
	margin-top:10px;
}

.rounded-300-yellow {background-color: #ffffd0;}
.rounded-300-yellow .top, .rounded-300-yellow .bot {background-image: url(../images/site/300-yellow.png);}

.rounded-300-blue {background-color: #e4f5fb;}
.rounded-300-blue .top, .rounded-300-blue .bot {background-image: url(../images/site/300-blue.png);}

.rounded-300-grey {background-color: #f1f1f1;}
.rounded-300-grey .top, .rounded-300-grey .bot {background-image: url(../images/site/300-grey.png);}

.rounded-300-outline {background-image: url(../images/site/300-outline_bg.png); backgroun-repeat: repeat-y;}
.rounded-300-outline .top,
.rounded-300-outline .bot {background-image: url(../images/site/300-outline.png);}
.rounded-300-outline .content {padding: 14px 20px;}

.rounded-200-ad {background-color: #f0ece1; width:200px; float: left;}
.rounded-200-ad .content {padding: 9px 15px;}
.rounded-200-ad .top,
.rounded-200-ad .bot {background-image: url(../images/site/200-ad.png);}


.top {background-position: left top;}
.bot {background-position: left bottom;}
.ad-skyscraper .top, .ad-skyscraper .bot {
	display:none;
}
.ad-skyscraper .content {
	padding: 0px;
	width: auto;
	background:#fff;
	text-align: center;
}

/*-------------------------------------------- Landing page title */

.breadcrumbs {
	font-size: 0.75em;
	padding-bottom: 10px;
	text-transform: lowercase;
	/*width: 630px;*/
}

.landing .panel-right .block-border {
	border-top: 2px solid #eee;
	border-bottom: 2px solid #eee;
	padding: 15px 0px;
}

#landing_title {
	margin-bottom: 25px;
}

#landing_title .content {
	padding: 8px 0 0 60px;
	position: relative;
	overflow: visible;
	font-size: 0.875em;
}
#landing_title .with-buttons {
	float: left;
	width: 350px;
}

#landing_title div.buttons {
	float: right;
	padding: 8px;
}
div.buttons a {
	margin: 0 8px 0 0;	
}


#landing_title .icon {
	width: 51px;
	height: 51px;
	position: absolute;
	left: 10px;
	top: -10px;
}

/* Fall-back icon */
.icon {
	background: url(../images/site/icons_site.png) no-repeat 0 -192px;
}

/*-------------------------------------------- Messages */
div.message {
	font-size: 0.875em;
	padding: 15px 18px;
	margin: -5px 0 20px 0px;
	font-weight:bold;
	border: 1px solid #CCC;
}
.text-content div.message {
	font-size: 1.0833em;
}
div.message-info {
	border-color: #f9f09c;
	background: #fffbd5;
	color: #333;
}
div.message-warn {
	border: 0;
	background: #F9E782;
	color: #000;
}
div.message-error {
	border: 0;
	background: #c00;
	color: #fff;
}

.ajax-container {
	position: absolute;
	margin: 0 0 0 363px;
	width: 200px;
	padding-left: 7px;
	background-image: url(../images/site/ajax_sprite.png);
	background-repeat: no-repeat;
	background-position: left 6px;
}
.ajax-container .ajax {
	background-color: #45aacc;
	padding: 5px 7px;
	color: #FFF;
}

.ajax-error {background-position: -14px 6px;}
.ajax-error .ajax {background-color: #cc0000;}

.ajax-valid {background-position: -7px 6px;}
.ajax-valid .ajax {background-color: #8bbb3e;}


/*-------------------------------------------- Forms */

/* Fieldsets */
fieldset {
	margin: 0 0 15px 0;
	position: relative;
}
fieldset div.fieldset-content {
	margin: 0;
	font-size: 1em;
	padding: 3.5em 18px 0.6em 18px;
}
fieldset.nolegend div.fieldset-content {
	padding-top: 0em;
}
fieldset.flat div.fieldset-content {
	border: 1px solid #ddd;
}
fieldset legend {
	margin: 0;	
}
fieldset legend span {
	font-weight: bold;
	font-size: 1.0833em;
	position: absolute;
	color: #bd0d3c;
	padding: 0 18px 0 18px;
	top: 0.8em;
}

/* Inputs */
label {
	display: block;
	font-weight: bold;
	margin: 0 0 2px 0;
	font-size: 0.75em;
}
label.check, label.radio {
	font-weight: normal;
	margin: 0 5px 10px 0;
}
select {
	background: #fff;
	color: #515151;
	border: 1px solid #ddd;
	padding: 1px;
	font-size: 0.75em;
	padding: 4px;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
input.textinput, textarea {
	padding: 6px 7px;
	border: 0;
	color: #4e4e4e;
	background: #FFF;
	font: 0.75em Arial, Helvetica, sans-serif;
}
input.file {
	font: 0.75em Arial, Helvetica, sans-serif;
}
div.panel-left input.textinput, div.panel-left textarea {
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	width: 553px;
	margin: 0 0 10px 0;
}
div.panel-left .inline input.textinput {
	width: 200px;
	float: left;
	margin: 0;
}
div.panel-left .inline select {
	width: 217px;
}
div.panel-left .inline textarea.textinput {
	float: left;
	width: 410px;
	margin: 0;
}
div.panel-left .inline label {
	float: left;
	width: 140px;
	line-height: 2.25em;
	margin: 0px;
}
div.overtext {
	padding: 6px 7px;
	font: 0.75em Arial, Helvetica, sans-serif;
	color: #4e4e4e;
}
input.file {
	border: 1px solid #FFF;
	background: #FFF;
	padding: 0;
	margin: 10px 0;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
}
input.disabled {
	background: #ddd;
}
input.radio, input.check {
	float: left;
	margin: 2px 7px 0 0;
}

/* Fancy form */
label.unselected, label.selected,
button.unselected, button.selected,
label.unchecked, label.checked,
button.unchecked, button.checked {
	float: left;
	padding: 2px 0 0 18px;
	background-image: url(../images/site/forms.png);
	background-repeat: no-repeat;
	cursor: pointer;
	line-height: 1em;
	min-height: 12px;
}
button.unselected, button.selected,
button.unchecked, button.checked {
	padding: 0 0 0 14px;
}

label.unselected, button.unselected {
	background-position: 0 -100px;
}
label.selected, button.selected {
	background-position: 0 -150px;
}
label.unchecked, button.unchecked {
	background-position: 0 0;
}
label.checked, button.checked {
	background-position: 0 -50px;
}

/* Image radios */
div.imageradios label {
	float: left;
	margin: 0 5px 0 0;	
}
div.imageradios label.selected,
div.imageradios label.unselected {
	background: none;
	padding: 1px;
	border: 2px solid #ddd;
}
div.imageradios label.selected {
	border: 2px solid #ffa200;	
}

/* Headings and standard content */
form h3 {
	margin: 0 0 10px 0;
	text-transform: none;
}
form p {
	padding-bottom: 10px;
}

/* Inline elements */
form div.inline input.textinput,
form div.inline textarea.textinput {
	width: 200px;
	float: left;
	margin: 0px;
}
form div.inline label {
	float: left;
	width: 140px;
	line-height: 2.25em;
	margin: 0px;
}
form div.inline textarea.textinput {
	width: 410px;
}

/* Standard two col dl */
form dl dt {
	float: left;
	width: 25%;
	clear: both;
	line-height: 1.1em;
}
form dl dt label {
	padding: 4px 0;
	display: block;
}
form dl dd {
	float: right;
	width: 74%;
}
form dl dt, form dl dd{
	padding-top: 10px;
}
form p {
	padding-bottom: 10px;
}
div.panel-left form dl dd input.textinput,
div.panel-left form dl dd input.file,
div.panel-left form dl dd textarea,
div.panel-left form dl dd select {
	width: 400px;
	margin: 0;
}
form dl dd.submit {
	padding-bottom: 0.75em;
}

/* Field hints */
form small.fieldhint,
form dl dd label.show-check {
	font-size: 0.6875em;
	line-height: 1em;
	margin-top: 4px;
	display: block;
	clear: both;
}
form label.radio small.fieldhint,
form label.check small.fieldhint {
	font-size: 0.9166em;
}

/* Field counts */
form dl dt span.fieldcount {
	font-size: 0.75em;
	color: #444;		
}

div.inline textarea.textinput {
	width: 410px;
}

form table#contactlist th {
	background: #f7fdff;
	padding: 5px;
	border: none;
}
form table#contactlist td {
	padding: 0 5px 3px 5px;
	background: #f7fdff;
	border: none;
}
form table#contactlist input.textinput {
	width: 190px;
	margin: 0;
}

form div.friends-checklist {
	max-height: 200px;
	overflow-y: auto;	
}
form div.friends-checklist ul {
	list-style-type: none;
}
form div.friends-checklist ul li {
	display: block;
	/*width: 130px;
	margin: 0 10px 0 0;
	float: left;*/
}

/* Search boxes */
form.search label {
	float: left;
	font-size: .875em;
	color: #666;
	line-height: 1.9285em;
	font-weight: bold;
	text-transform: lowercase;
	margin: 0 7px 0 0;
}
form.search div.input-wrapper {
	background: url(../images/site/search-bg.png) no-repeat left top;
	width: 206px;
	height: 28px;
	float: left;
	margin: 0 5px 0 0;
	position: relative;
}
form.search input.textinput {
	border: 0;
	padding: 4px 18px 4px 12px;
	background: none;
	width: 180px;
	margin: 2px 0 0 0px;
}
form.search button.but-find {
	display: block;
	height: 27px;
	width: 27px;
	background: url(../images/site/button_sprite.png) no-repeat -37px -10px;
	float: left;
}
form.search button.but-find:hover, #home_newsletter button.submit:hover {
	background: url(../images/site/button_sprite.png) no-repeat -172px -10px;
}

/* Validation */
div.validation-advice {
	background: url(../images/site/icon-warn.png) no-repeat 3px 5px;
	border-top: 3px solid #f10000;
	clear: both;
	line-height: 1em;
	font-size: 11px;
	padding: 5px 7px 5px 20px;
	margin: 0 0 5px 0;
}

div.wizard fieldset.sub {
	background: #f7fdff;
	padding: 0 10px 10px 10px;
	margin: 0 0 0 20px;
}
div.wizard fieldset.sub label {
	font-weight: normal;	
}
div.wizard form dl dd input.textinput,
div.wizard form dl dd select {
	width: 370px;
}



/* Sub-panes */
form fieldset.sub {
	background: #f7fdff;
	padding: 0 10px 10px 10px;
	margin: 0 0 0 20px;
	font-size: 1em;
}
form fieldset.sub label {
	font-weight: normal;	
}

/* Upload */
form ul.upload {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}
form ul.upload li {
	margin: 0 0 10px 0;
}
form ul.upload li img {
	float: left;
	margin: 0 15px 0 0;
}
form ul.upload li input.fileinput {
	font-size: 0.75em;
}

/* Captcha */
div.captcha .img {
	float: left;
	margin: 0 15px 0 0;
	width: 140px;
	text-align: center;
	background: #FFF;
	padding: 5px;
}
div.captcha img {
	display: block;
	margin: 0 0 3px 0;
}
div.captcha .body {
	float: left;
	width: 400px;
}
div.captcha .body .textinput {
	width:200px;
	margin-right:10px;
}

/*-------------------------------------------- Wizard */
div.wizard div.title {
	padding: 6px 10px;
	background: #c1e4f1;
	position: relative;
	border-top: 1px solid #fff;
}
div.wizard div.complete div.title {
	background: #b7e07c;
}
div.wizard div.title span.actions {
	position: absolute;
	top: 5px;
	right: 10px;
	font-size: 0.75em;
	display: none;
}
div.wizard div.complete div.title span.actions {
	display: block;
}
div.wizard div.stagecontent {
	background: #e4f5fb;
}
div.wizard div.content {
	padding: 15px;
}
div.wizard form dl dd input.textinput,
div.wizard form dl dd select {
	width: 370px;
}
div.wizard div.content h3 {
	margin: 0 0 10px 0;
	text-transform: none;
}

div.wizard ul.upload {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}
div.wizard ul.upload li {
	margin: 0 0 10px 0;
}
div.wizard ul.upload li img {
	float: left;
	margin: 0 15px 0 0;
}
div.wizard ul.upload li input.fileinput {
	font-size: 0.75em;
	position:relative;
	background:#fff;
}
/*-------------------------------------------- Header */
#welcome-header {
	background:url(../images/site/bg_welcome.png) repeat-x bottom #4da9d2;
	color:#fff;
	text-align:center;
	padding:10px 10px;
	line-height:1.3em;
	font-size:0.75em;
	border-bottom:1px solid #66b3d4;
}
#welcome-header .content {
	margin:auto;
	width:960px;
}
#welcome-header .content  a {
	color:#fff;
	text-decoration:underline;
}
#ad-header {
	margin: auto;
	text-align: center;
	margin-top: 10px;
}

#ad-header td {
	border:0;
}
#nav-header {
	position: relative;
	padding: 0;
	width: 960px;
	z-index: 1;
}
#nav-header .header-right {
	width: 430px;
}
#nav-top-form-search {
	float: right;
	clear: left;
	margin: 18px 0 0 0;
}
#logo {
	background: none;
	padding: 0;
	margin: 13px 0 0 0;
	border: 0;
	float: left;
	width: 168px;
	height: 96px;
}
#nav-header #tagline {
	float: left;
	margin: 60px 0 0 10px;
}

/*-------------------------------------------- Nav Links */
#nav-links {
	float: right;
	clear: both;
	margin-top: 25px;
	font-size: 0.875em;
}
#nav-links ul, #footer ul {
	list-style: none;
}
#nav-links ul li {
	display: inline;
	margin: 0 0 0 10px;
}
#nav-links a, #footer ul li a {
	color: #4e4e4e;
	text-transform: lowercase;
}

/*-------------------------------------------- Footer */
#footer {
	margin: 30px 0 0 0;
	padding: 15px 0 0 0;
	background: url(../images/site/dotted-large.png) repeat-x left top;
}
#footer ul li {
	display: inline;
	margin-right: 9px;
}

/*-------------------------------------------- Newsletter Box */
#home_newsletter .content {
	padding: 7px 13px;
}
#home_newsletter h3 {
	color: #4e4e4e;
	text-transform: lowercase;
	margin-bottom: 10px;
}
#home_newsletter #news-email {
	border: 0;
	margin: 0 5px 0 0;
	padding: 0;
	background: url(../images/index/newsletter-bg.png) no-repeat 0 0;
	width: 237px;
	height: 27px;
	float: left;
	position: relative;
}
#home_newsletter #news-email input.textinput {
	background: none;
	width: 208px;
	padding: 4px 0px;
	margin: 2px 15px 0 15px;
}
#home_newsletter button.submit {
	display: block;
	height: 27px;
	width: 27px;
	background: url(../images/site/button_sprite.png) no-repeat -37px -10px;
	float: left;
	padding: 0;
	margin: 0;
}

.top_giveaway{
	position: absolute;
    right: 350px;
    top: 50px;
}
.top_giveaway img{
	width:80px;
}
