div.stickyWin {
	text-align: left;
	position: relative;
	float: left;
	background: #fff;
	border: 1px solid #ddd;
}
div.stickyWin div.header {
	padding: 5px 10px;
	background: #ddd;
	position: relative;
}
div.stickyWin div.header h4 {
	font-size: 0.875em;	
}
div.stickyWin div.closeButton {
	background: url(../images/stickywin/close.png) no-repeat;
	position: absolute;
	width: 17px; height: 16px;
	top: 6px; right: 6px;
	cursor: pointer;
}
div.stickyWin div.middle {
	padding: 10px;
}

div.stickyWin p {
	margin-bottom:10px;
}
/* Clear fix */
.SWclearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.SWclearfix {display: inline-table;}
* html .SWclearfix {height: 1%;}
.SWclearfix {display: block;}